.background-container {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(200, 216, 230, 0.3),
        rgba(200, 216, 230, 0.3)),
        url(../images/Lightbulb.jpeg);
        background-color: #0E0E10;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;

}

.portfolio-data {
    color: whitesmoke
    
}

.slogan {
    color: whitesmoke
}

.col {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.navbar {
    color: blue;

}